.long{
    background-color: pink;
    width: 1000px;
    height: 400px;
    border-radius: 90px;
    margin-left: 150px;
}
.long__wrap{
    display: flex;
    gap: 20px;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    button{

        width: 220px;
        border: 1px solid black;
        border-radius: 20px;
        height: 60px;
    }
}