.nav{
    display: flex;

    justify-content: space-evenly;
    gap: 10px;

    padding: 20px 0;

    a{
        color: black;
        font-weight: 600;
        font-size: 22px;
        text-decoration: none;
        text-transform: uppercase;

        display: flex;
        flex-direction: column;
        gap: 5px;

        align-items: center;
        overflow: hidden;

        &::after,&::before {
            content: "";
            width: 0%;
            height: 2px;
            background-color: black;
            display: inline-block;
            transition: 0.5s;

            
        }
        &:hover{
            &::after,&::before{
                width: 100%;
            }
        }
    }
}